<a href="https://colab.research.google.com/github/ispero25/BTE320/blob/main/1_30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If a number is divisible by 2 & 3.

In [ ]:
x = _____

if x%2 == 0: # <-- first checks if x%2 eqials to zero
  if x%3 == 0:
    print(6)
  else:
    print(4)
elif: x % 3 == 0:
    print(9)
else:
  print(7)

For this to work, both a & b must be true.

In [ ]:
      a             b
if x%2 == 0 and x%3 == 0:
  print(___)

If either a is true, the expression can continue. If not true, it is false.

In [ ]:
if (age > 25 and m_status == "single") or assets > 100000:
  print ("Elligible for loan")

Testing the compound expression

In [ ]:
  # let's test the compound expression

    x = 2
    y = 4
    z = 6

    if x < y and x < z"
      print('x is least')
    elif y < z:
      print('y is least')
    else:
      print('z is least')

In [ ]:
# Step 1: Input deposit amount
customer_type = input('Enter type of customer (n: new, e: existing):')
deposit = float(input('Enter the deposit amount ($):'))

# Step 2: Decide interest rate
if customer_type == 'e' and deposit > 10000:
   ir = 3.5
  elif customer_type <= 1000:
   ir = 3.0
  else:
   ir = 3.25
else:
  ir = 3.0

# Step 3: Display total amount after interest rate is applied
total = (1 + ir/100) * deposit
print(f'Total after interest applied: (round(total, 2)} $)')

In [ ]:
# Step 2: Decide interest rate
if customer_type == 'e' and deposit > 10000:
  if deposit > 10000:
   ir = 3.5
  elif deposit <= 1000:

In [ ]:
x = 2
y = 4
z = 6

3 odd: 1
2 odd,